[Unit]
Description=The timer of backup script for web,app,db settings
Requires={{ s3copy_service_name }}

[Timer]
Unit={{ s3copy_service_name }}
OnCalendar={{ s3copy_on_calender }}

[Install]
WantedBy=timers.target