[Unit]
Description=The backup script to copy tar.gz files to AWS S3
Wants=s3copy.timer

[Service]
Type=oneshot
User={{ s3copy.user }}
Group={{ s3copy.group }}
ExecStart=bash -c "cd /var/ && aws s3 cp backup {{ s3copy.dest }} --recursive --include '*.tar.gz'"

[Install]
WantedBy=multi-user.target